<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd"
	xml:lang="en" lang="en">
<body>
<wicket:panel>
	<div wicket:id="system-panel" class="system-panel">
		<div class="system-content">
			<table wicket:id="system-content" class="plain">
		    <wicket:container wicket:id="system-list">
		      <tr>
		        <td>
		          <a wicket:id="system-link">
		            <wicket:container wicket:id="system-link-label">[link]</wicket:container>
		          </a>
		        </td>
		        <td>
		          <img wicket:id="system-link-image" />
		        </td>
		      </tr>
		    </wicket:container>
	    </table>
		</div>
		<div class="system-button">
      Systems' Status
      <a class="icon-right">
        <img wicket:id="system-button-image" alt="Alert!" />
      </a>
		</div>
	</div>
</wicket:panel>
</body>
</html>