html,
body
{
  margin : 0px;
  padding : 0px;
}

body
{
  background : white url('../images/bg.png') repeat-x;
}

a
{
  color : #006b99;	
}

a:hover
{
  color : #00a2e8;  
}


.textRight
{
  text-align : right;
}

.textCenter
{
  text-align : center;	
}

.fontBold
{
  font-weight : bold;	
}

.mLeft5
{
  margin-left : 5px;
}

.mLeft10
{
  margin-left : 10px;  
}

.mRight5
{
  margin-right : 5px;
}

.mRight10
{
  margin-right : 10px;
}

.mTop5
{
  margin-Top : 5px;
}

.mTop10
{
  margin-Top : 10px;
}