/* Basic Reset & Default Styles */
* { border: none; margin: 0; padding: 0; }
html { height: 100%; padding-bottom: 1px; }
body { background: #efefef; color: #4d4d4d; font: 12px/17px arial, helvetica, verdana, sans-serif; text-align: left; width: auto !important; width: 1200px; min-width: 1200px; }
body { -webkit-text-stroke: 1px transparent; -webkit-font-smoothing: antialiased; }
@media only screen and (max-device-width: 480px) { body { -webkit-text-stroke: 0 black; } }

/* a Styles */
a { color: #2978cc; text-decoration: none; }
.gray-button { background: #9d9d9d url(images/gray-button-bg.png) left top repeat-x; border: 1px solid #9d9d9d; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; color: #fff; display: inline; float: left; font-size: 13px; font-weight: bold; min-height: 28px; line-height: 28px; margin-right: 10px; padding: 0 10px; text-align: center; text-decoration: none; text-shadow: 0 -1px 0 #9d9d9d; -webkit-user-select:none; -moz-user-select:none; }
.green-button { background: #79961f url(images/green-button-bg.png) left top repeat-x; border: 1px solid #749217; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; color: #fff; display: inline; float: left; font-size: 13px; font-weight: bold; min-height: 28px; line-height: 28px; margin-right: 10px; padding: 0 10px; text-align: center; text-decoration: none; text-shadow: 0 -1px 0 #87ab1b; -webkit-user-select:none; -moz-user-select:none;}
.red-button { background: #ba0808 url(images/red-button-bg.png) left top repeat-x; border: 1px solid #ba0808; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; color: #fff; display: inline; float: left; font-size: 13px; font-weight: bold; min-height: 28px; line-height: 28px; margin-right: 10px; padding: 0 10px; text-align: center; text-decoration: none; text-shadow: 0 -1px 0 #a60000; -webkit-user-select:none; -moz-user-select:none;}
input.gray-button, input.green-button, input.red-button { height: 28px; padding-bottom: 3px !important; }
.header-right a { color: #1a88ff; font-weight: bold; text-decoration: none; }
.navigation li a { color: #fff; font-weight: bold; display: inline; float: left; height: 30px; line-height: 30px; padding: 0 10px; text-decoration: none; }
.submenu li { display: inline; float: left; min-height: 40px; line-height: 40px; margin: 0 -20px; padding: 0 20px; text-indent: -10px; width: 100%; }
/* form Styles */
select { border: 1px solid #ccc; padding: 1px; }
form.input-form { background: #eaeaea; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; margin-bottom: 20px; padding: 20px 20px 10px; }
form input.text { border: 1px solid #aaa; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; clear: both; color: #4c4c4c; display: inline; float: left; font-size: 13px; margin-bottom: 10px; padding: 5px; }
form label { clear: both; display: inline; float: left; margin-bottom: 2px; }
form label.required { font-weight: bold; }
form textarea { border: 1px solid #aaa; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; clear: both; color: #4c4c4c; display: inline; float: left; font-size: 13px; margin-bottom: 10px; padding: 5px; }
form select { clear: both; display: inline; float: left; margin-bottom: 10px; min-width: 200px; }
form .radio-wrapper { clear: both; display: inline; float: left; margin-bottom: 10px; }
form .radio-wrapper label { clear: none; display: inline; float: left; margin-right: 30px; }
form input.radiobutton, form input.checkbox { display: inline-block; margin-right: 5px; }
.validation-error { background: url(images/validation-bg.png) left center no-repeat; display: inline; float: left; margin-left: 5px; padding-left: 7px; }
.validation-error span { background: #c30000; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; color: #fff; display: inline; float: left; height: 28px; line-height: 28px; padding: 0 10px; }
.plain-button { background: -moz-linear-gradient(100% 100% 90deg, #b3b3b3, #fefefe); background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#b3b3b3), to(#fefefe)); border: 1px solid #b3b3b3; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; color: #555; display: inline; float: left; font-size: 13px; font-weight: bold; height: 28px; line-height: 25px; padding: 0 10px 3px; text-shadow: 0 1px 0 #fff; margin: 0 10px 10px 0; }
.save-button { background: url(images/icons/accept.png) 10px center no-repeat, -moz-linear-gradient(100% 100% 90deg, #b3b3b3, #fefefe); background: url(images/icons/accept.png) 10px center no-repeat, -webkit-gradient(linear, 0% 0%, 0% 100%, from(#b3b3b3), to(#fefefe)); border: 1px solid #b3b3b3; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; color: #555; display: inline; float: left; font-size: 13px; font-weight: bold; height: 28px; line-height: 25px; padding: 0 10px 3px 33px; text-align: center; text-shadow: 0 1px 0 #fff; margin: 0 10px 10px 0; }
.cancel-button { background: url(images/icons/delete.png) 10px center no-repeat, -moz-linear-gradient(100% 100% 90deg, #b3b3b3, #fefefe); background: url(images/icons/accept.png) 10px center no-repeat, -webkit-gradient(linear, 0% 0%, 0% 100%, from(#b3b3b3), to(#fefefe)); border: 1px solid #b3b3b3; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; color: #555; display: inline; float: left; font-size: 13px; font-weight: bold; height: 28px; line-height: 25px; padding: 0 10px 3px 33px; text-align: center; text-shadow: 0 1px 0 #fff; margin: 0 10px 10px 0; }
.add-button { background: url(images/icons/add.png) 10px center no-repeat, -moz-linear-gradient(100% 100% 90deg, #b3b3b3, #fefefe); background: url(images/icons/accept.png) 10px center no-repeat, -webkit-gradient(linear, 0% 0%, 0% 100%, from(#b3b3b3), to(#fefefe)); border: 1px solid #b3b3b3; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; color: #555; display: inline; float: left; font-size: 13px; font-weight: bold; height: 28px; line-height: 25px; padding: 0 10px 3px 33px; text-align: center; text-shadow: 0 1px 0 #fff; margin: 0 10px 10px 0; }
input.text { border: 1px solid #aaa; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; clear: both; color: #4c4c4c; display: inline; float: center; font-size: 13px; margin-bottom: 0px; padding: 0px; }

/* h1 - h6 Styles */
h1 { color: #4c4c4c; font-size: 32px; line-height: normal; margin-bottom: 20px; }
h2 { color: #545454; font-size: 28px; line-height: normal; margin-bottom: 20px; }
h3 { color: #5c5c5c; font-size: 24px; line-height: normal; margin-bottom: 20px; }
h4 { color: #666; font-size: 20px; line-height: normal; margin-bottom: 20px; }
h5 { color: #757575; font-size: 17px; line-height: normal; margin-bottom: 20px; }
h6 { color: #858585; font-size: 14px; line-height: normal; margin-bottom: 20px; }
.box h2, .box-inners h2, .box h3, .box-inners h3 { background-color: #bababa; background: -moz-linear-gradient(100% 100% 90deg, #bababa, #d2d2d2); background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#bababa), to(#d2d2d2)); border-bottom: 1px solid #ddd; font-size: 20px; height: 40px; line-height: 40px; margin: -20px -20px 20px; padding: 0 20px; text-indent: -10px; width: 100%; }
.box-inners h2, .box-inners h3 { margin: -10px -10px 20px; padding: 0 10px; text-indent: 0; }
.box h3, .box-inners h3 { font-size: 16px; }

/* p Styles */
p { margin-bottom: 20px; }
.footer p { margin-bottom: 0; }
.header-right p { color: #999; margin-bottom: 17px; }

/* ul Styles */
ul.navigation li { background: #404040; border-radius: 5px 5px 0 0; -moz-border-radius: 5px 5px 0 0; -webkit-border-radius: 5px 5px 0 0; display: inline; float: left; margin-right: 2px; }
ul.navigation li.active { background: #2978cc; }
ul.navigation li:hover { background: #2978cc; }
ul.submenu { border-top: 1px solid #ccc; font-weight: bold; list-style-type: none; margin: 0 -20px; padding: 0 20px; }
ul.submenu li { background: #f2f2f2; border-bottom: 1px solid #ccc; line-height: 40px; margin: 0 -20px; padding: 0 20px; }


/* Message Styles */
.message { background: #eee; border: 1px solid #ccc; clear: both; color: #555; padding: 10px 20px; }
.info { background: #e8f6ff url(images/icons/information.png) 20px center no-repeat; border: 1px solid #b8e2fb; color: #4b89ad; padding: 10px 20px 10px 46px; }
.warning { background: #fff5cc url(images/icons/error.png) 20px center no-repeat; border: 1px solid #f2dd8c; color: #a69860; padding: 10px 20px 10px 46px; }
.error { background: #ffd1d1 url(images/icons/delete.png) 20px center no-repeat; border: 1px solid #f8acac; color: #c44f4f; padding: 10px 20px 10px 46px; }
.success { background: #eaf7d9 url(images/icons/accept.png) 20px center no-repeat; border: 1px solid #bbdf8d; color: #74914d; padding: 10px 20px 10px 46px; }

/* Reusable Classes */
.black { color: #000; }
.blue { color: #3880e1; }
.box, .box-inners { background: #fff; border: 1px solid #ccc; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; clear: both; margin-bottom: 20px; padding: 20px; }
.box > *:last-child, .box-inners > *:last-child { margin-bottom: 0px; }
.box-inners { padding: 10px; }
.clear { clear: both !important; }
div.clear { height: 0px !important; line-height: 0px !important; }
.dark-blue { color: #133a62; }
.dark-purple { color: #1c1a4c; }
.icon-left { display: inline; float: left; margin-right: 10px; }
.icon-right { display: inline; float: right; margin-left: 10px; }
.top-links .icon-right { margin-top: 7px; }
.large { font-size: 30px; font-weight: bold; line-height: normal; }
.left { display: inline; float: left; }
.logo { display: inline; float: left; margin: 24px 0 23px -5px; }
.medium-large { font-size: 20px; font-weight: bold; line-height: normal; }
.medium { font-size: 15px; font-weight: bold; line-height: normal; }
.no-margin { margin-bottom: 0px !important; }
.right { display: inline; float: right; }
.small { font-size: 11px; line-height: normal; }
.x-large { font-size: 40px; font-weight: bold; line-height: normal; }

/* Structural Classes */
.columns-wrapper { clear: both; margin-left: 230px; }
.content-wrapper { background-color: #fbfbfb; }
.left-column { float: left; left: -230px; padding: 10px 0 10px 20px; position: relative; width: 210px; }
.right-column { float: left; margin-left: -230px; width: 100%; }
.column-four { display: inline; float: left; margin: 0 !important; width: 25%; }
.column-three { display: inline; float: left; margin: 0 !important; width: 33.3%; }
.column-three-two { display: inline; float: left; margin: 0 !important; width: 66.6%; }
.column-two { display: inline; float: left; margin: 0 !important; width: 50%; }
.column-four .inner, .column-three .inner, .column-three-two .inner, .column-two .inner { margin: 0 10px; }
.footer { background: #efefef; border-top: 1px solid #aaa; clear: both; padding: 10px 20px; }
.header { background: url(images/header-bg.jpg) left center repeat-x; height: 120px; padding: 0 20px 5px; text-align: left; }
.header-right { display: inline; float: right; margin-top: 10px; text-align: right; }
.top-links { border-bottom: 1px solid #ccc; margin-bottom: 10px; padding-bottom: 10px; }
.wrapper { padding: 10px; }
.wrapper > * { margin-left: 10px; margin-right: 10px; }

/* Table Styles */
.table-wrapper { margin-bottom: 20px; margin-right: 10px; }
table { clear: both; width: 100%; }
td, th { padding: 10px; }
td { vertical-align: top; padding: 10px;}
th { background: #4c4c4c; color: #fff; vertical-align: middle; }
thead tr th:first-child { border-radius: 5px 0 0 0; -moz-border-radius: 5px 0 0 0; -webkit-border-radius: 5px 0 0 0; }
thead tr th:last-child { border-radius: 0 5px 0 0; -moz-border-radius: 0 5px 0 0; -webkit-border-radius: 0 5px 0 0; }
tfoot tr th:first-child { border-radius: 0 0 0 5px; -moz-border-radius: 0 0 0 5px; -webkit-border-radius: 0 0 0 5px; }
tfoot tr th:last-child { border-radius: 0 0 5px 0; -moz-border-radius: 0 0 5px 0; -webkit-border-radius: 0 0 5px 0; }
tbody tr:nth-child(2n) td { background: #D0D0D0; }
tbody tr:nth-child(2n+1) td { background: #fff; }
tbody tr:hover td { background: #d4ffd4; }
table.no-hover tbody tr:hover td { background: inherit !important; }
.sort-asc, .sort-desc, .no-sort { display: inline; float: right; height: 11px; margin-top: 3px; width: 9px; }
.sort-asc { background: url(images/sort-asc.png) center no-repeat; }
.sort-desc { background: url(images/sort-desc.png) center no-repeat; }
.no-sort { background: url(images/no-sort.png) center no-repeat; }
table.bare td, table.bare th { padding: 0 !important; background: none !important; border: none !important; }
table.bare tr:hover td { background: none !important; }
table.log { background: none !important; padding: 0 !important; margin: 0 !important;}
table.log th { background: #4c4c4c; color: #fff; vertical-align: middle;  font-size: 11pt; padding: 10px; height: 20px; }

/* Table Sorter */
table.tablesorter {
	font-family:arial;
	font-size: 8pt;
	text-align: left;
	padding-left: 10px;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #4c4c4c;;
	font-size: 10pt;
}
table.tablesorter thead tr .header {
	background-image: url(images/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody td {
	color: #3D3D3D;
	vertical-align: top;
	padding-top: 5px;
	padding-bottom: 5px;
}

table.tablesorter thead tr .headerSortUp {
	background-image: url(images/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(images/desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
	background-color: #808080;
}

/* Table Sorting & Pagination Styles */
.show-count { display: inline; float: left; line-height: 20px; margin-bottom: 5px; }
.show-count select { display: inline; padding: 1px; }
.showing { display: inline; float: right; line-height: 20px; margin-bottom: 5px; }
.pagination { clear: both; display: inline; float: left; line-height: 20px; margin-bottom: 0; margin-top: 5px; }
.pagination a, .pagination span { color: #fff; display: inline; float: left; font-weight: bold; height: 20px; line-height: 20px; margin-right: 2px; padding: 0 6px; }
.pagination a { background: #4c4c4c; }
.pagination a.previous { background: url(images/left-arrow.png) no-repeat; width: 8px; }
.pagination a.next { background: url(images/right-arrow.png) no-repeat; width: 8px; }
.pagination span.current { background: #2978cc; }
.pagination + .showing { margin-top: 5px; margin-bottom: 0; }

/* Tab Styles */
.tab-wrapper { margin-bottom: 20px; }
ul.tabs { display: inline; float: left; list-style-type: none; margin-bottom: -1px; }
ul.tabs li { background: #ccc; border: 1px solid #ccc; border-radius: 5px 5px 0 0; -moz-border-radius: 5px 5px 0 0; -webkit-border-radius: 5px 5px 0 0; display: inline; float: left; height: 30px; line-height: 30px; margin-right: 2px; }
ul.tabs li.current-tab { background: #fff; border-bottom: 1px solid #fff; }
ul.tabs li a { color: #fff; display: inline; float: left; font-weight: bold; height: 30px; line-height: 30px; padding: 0 10px; }
ul.tabs li.current-tab a { color: #4c4c4c; }
ul.tabs li a.tab-close { background: url(images/tab-close.png) center no-repeat; width: 13px; }
ul.tab-content { background: #fff; border: 1px solid #ccc; border-radius: 0 5px 5px 5px; -moz-border-radius: 0 5px 5px 5px; -webkit-border-radius: 0 5px 5px 5px; clear: both; list-style-type: none; padding: 20px; }
ul.tab-content li *:last-child { margin-bottom: 0px; }

/* css for timepicker */
.ui-timepicker-div .ui-widget-header{ margin-bottom: 8px; }
.ui-timepicker-div dl{ text-align: left; }
.ui-timepicker-div dl dt{ height: 25px; }
.ui-timepicker-div dl dd{ margin: -25px 0 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }

/* Color Picker */
.icolor {position:inherit;}
.icolor_ct {width:95%; height:275px;position:relative;}
.icolor_ft{position:relative;}
.icolor td{ border: solid 1px #000000;	cursor:pointer;}
.icolor table{background-color: #FFFFFF;border: solid 1px #ccc;}
.icolor .icolor_tbx{width:170px;border-top:1px solid #999;border-left:1px solid #ccc;border-right:1px solid #ccc;border-bottom:1px solid #ccc;}
.icolor_ok img{border:none;}

.icolorC,h2{padding:10px;}
#icolor3 .icolor_tbx{width:154px;padding-right:16px;}
#icolor3 .icolor_ok{position:absolute;left:154px;top:50%;margin-top:-8px;}

/* Page Specific */
.status-bar-lg { color: #25587E; font-size: 1.4em; background: url(images/statusbar_lg.png); height: 42px; line-height: 42px; width: 292px; background-repeat: no-repeat; text-align: right; }
.status-bar-med { color: #25587E; font-size: 1em; background: url(images/statusbar_med.png); height: 23px; width: 227px; line-height: 23px; background-repeat: no-repeat; text-align: right; }
.status-bar-sm { color: #25587E; font-size: 1em; background: url(images/statusbar_sm.png); height: 23px; line-height:23px; width: 289px; background-repeat: no-repeat; text-align: right; }
.column-eight { display: inline; float: left; margin: 0 !important; width: 12.5%; }
.column-eight-seven{ display: inline; float: left; margin: 0 !important; width: 87.5%; }
.column-eight .inner, .column-eight-seven .inner { margin: 0 10px; }

.column-custom { display: inline; float: left; margin: 0 !important; }
.column-custom .inner { margin: 0 10px; }

.column-button { padding-right: 10px; }
.column-button a { margin-bottom: 20px !important; }

.move-to-box-header { margin-top:-62px; line-height: 40px; }

.show-count select { float: none !important; min-width: 0; }

.shield {
        position: relative;
}
.commentscloud {
        position: absolute;
        text-align: center;
        top: -6px;
        left: 8px;
        width: 16px;
        height: 16px;
        font-size: 11px;
        font-weight: bold;
        color: red;
}

.system-state-close {
	 position:fixed; 
	 right:5px; 
	 bottom:0; 
	 font-size: 11pt;
	 font-weight: bold;
	 background-color: #EEE; 
	 border:1px solid #444; 
	 border-top-left-radius: 5px;
	 -moz-border-radius-topleft: 5px;
	 border-top-right-radius: 5px;
	 -moz-border-radius-topright: 5px;
	 border-bottom:0px; 
	 width:185px; 
	 height:20px;
	 padding: 5px 15px 0px 0px;
	 text-align: center;
}

.system-state-open {
	 display: none;
	 position:fixed; 
	 right:5px; 
	 bottom:25px; 
	 font-size: 11pt;
	 background-color: #EEE; 
	 border:1px solid #444;
	 border-top-left-radius: 5px;
	 -moz-border-radius-topleft: 5px;
	 border-top-right-radius: 5px;
	 -moz-border-radius-topright: 5px;
	 border-bottom:0px; 
	 width:170px; 
	 height:150px;
	 padding: 5px 15px;
	 text-align: left;
	 line-height: 235%;
}