.boxRed .inner .box {background:red;}
.boxRed .inner .box .alert {color:red;}
.boxGreen .inner .box {background:green;}
.boxGreen .inner .box .alert {color:green;}
.boxOrange .inner .box {background:#FF9900;}
.boxOrange .inner .box .alert {color:#FF9900;}
.column-two .inner .box .box {background:white;}