div.HomePageButton
{
	background : url('bigButtonNormal.png') no-repeat;
  height : 150px;
  text-align : center;
  width : 200px;
}

a:hover div.HomePageButton
{
  background : url('bigButtonHover.png') no-repeat;
}


div.HomePageButton ul
{
  list-style-type : none;
  margin : 0px;
  padding : 45px 0px 0px;
}

div.HomePageButton li.main
{
  font-size : 1.5em;
}