div#Status h6
{
  padding-left : 5px;
}

div#Status table.overallStatus
{
	margin-bottom : 0px;
	margin-left : 5px;
	width : 95%;
}

div#Status table.overallStatus td
{
  padding : 15px 0px 0px;
  margin : 0px; 
}

div#Status table.overallStatus td
{
  border-bottom : 1px solid #777;
  padding-bottom : 5px;
  text-align : left;
  *text-align : expression(this.nextSibling==null?'right':'left');
}

div#Status table.overallStatus td:last-child
{
	text-align : right;
  padding-right : 5px;
}